{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <span class="menu-toggle" id="menu-toggle">&#9776;</span>
        <h2>TEST</h2>
        <ul>
            <li><a href="{% url 'user_progress:home' %}">Início</a></li>
            <li><a href="#">Skill list</a></li>
            <li><a href="#">PLACEHOLDER</a></li>
            <li><a href="#">PLACEHOLDER</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="links">
            <a href="#">Login</a>  
            <a href="#">Logout</a>
            <a href="#">Sign up</a>
        </div>
    <div class="upper-part">Date,Forecast and its pic, spotify link and more</div>
    <div class="character-tab">Brain pic, skills and more</div>
    <div class="daily-objectives-tab">Read,write, play guitar, practice a skill, practice 2 skills...</div>
    <h1>Hello, {{name}}!</h1>
    <div class="skill-resume-tab"><!--List skills, filter option and more-->
        <div class="skill-header">Skills</div>
            {% for skill in skills %}
                <div class="skill-item" ></div>
                    <div class="skill-name">{{skill.name}}</div>
                    <div class="progress-bar" style="width: 70%;"></div>
                    <div class="skill-level">{{skill.level}}</div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'user_progress:add_skills' %}">Add skills</a>

    </div>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    var menuToggle = document.getElementById('menu-toggle');
    var sidebar = document.getElementById('sidebar');
    menuToggle.addEventListener('click', function() {
        sidebar.classList.toggle('collapsed');
        });
    });
    </script>
</body>
</html>