body {
    margin: 0;
    font-family: Serif, sans-serif,Arial;
    background-color: #f4f4f9;
}

/* Menu lateral */
.sidebar {
    width: 180px;
    background-color: #2bff00;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1000;
}
.sidebar.collapsed {
    width: 60px;
    padding: 20px 0 20px 0;
    overflow: hidden;
    transition: width 0.3s, padding 0.3s;
}
.sidebar.collapsed .menu-toggle {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: 1101;
    transform: translateX(-50%);
    background-color: #00ff6257;
    border-radius: 5px;
}
.sidebar.collapsed h2,
.sidebar.collapsed ul {
    display: none;
}


.sidebar h2 {
    margin: 0 0 20px;
    font-size: 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #1abc9c;
}
.menu-toggle {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 0px;
    z-index: 1101;
    position: absolute;
    background-color: #034bd1fd;
    border-radius: 5px;
}
.sidebar:not(.collapsed) ~ .main-content {
    margin-left: 220px;
}

/* Quando a sidebar está colapsada, o conteúdo volta para a esquerda */
.sidebar.collapsed ~ .main-content {
    margin-left: 60px;
}

.skill-resume-tab{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.skill-box {
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(0);
        transition: transform 0.3s ease;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 1000;
    }
    .main-content {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
    }

}